[Desktop Entry]
Type=Application
Version=1.0
Name=Install Kamuriki
Name[ca]=Instal·lar Kamuriki
Name[da]=Installer Kamuriki
Name[de]=Kamuriki installieren
Name[es]=Instalar Kamuriki
Name[fr]=Installer Kamuriki
Name[it]=Installa Kamuriki
Name[ja]=Kamurikiをインストールする
Name[no]=Installer Kamuriki
Name[pl]=Zainstaluj Kamuriki
Name[pt]=Instalar o Kamuriki
Name[pt_BR]=Instalar Kamuriki
GenericName=Install Kamuriki
GenericName[ca]=Instal·lar Kamuriki
GenericName[da]=Installer Kamuriki
GenericName[de]=Kamuriki installieren
GenericName[es]=Instalar Kamuriki
GenericName[fr]=Installer Kamuriki
GenericName[it]=Installa Kamuriki
GenericName[ja]=Kamurikiをインストールする
GenericName[no]=Installer Kamuriki
GenericName[pl]=Zainstaluj Kamuriki
GenericName[pt]=Instalar o Kamuriki
GenericName[pt_BR]=Instalar Kamuriki
Exec=bash -c "export BROWSER='sudo -H -u kamuriki firefox'; sudo -E calamares -D6"
Comment=Calamares — System Installer
Comment[ca]=Calamares — Instal·lador del Sistema
Comment[da]=Calamares - System installation
Comment[de]=Calamares — System Installer
Comment[es]=Calamares — Instalador del Sistema
Comment[fr]=Calamares  — Installateur de votre system
Comment[it]=Calamares — Installatore del Sistema
Comment[it]=Calamares — システムのインストール
Comment[no]=Calamares — System installerer
Comment[pl]=Calamares — Instalator systemu
Comment[pt]=Calamares — Instalador do Sistema
Comment[pt_BR]=Calamares — Instalador do sistema
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
Keywords=installer;calamares;system;
