Package: calamares-settings-kamuriki
Version: 2.4.2-4
Architecture: all
Maintainer: Hayate Nakamura <is01.njb@gmail.com>
Installed-Size: 3572
Depends: calamares-settings-ubuntu-common (>= 1:22.04.4.2)
Conflicts: calamares-settings-lubuntu, calamares-settings-ubuntustudio
Breaks: calamares-settings-lubuntu, calamares-settings-ubuntustudio
Section: devel
Priority: optional
Homepage: https://code.launchpad.net/ubuntu-calamares-settings
Description: Kamuriki Calamares Settings and Branding
 This package contains the Calamares settings and branding for Kamuriki.
 As part of the branding the installer slideshow is contained within.
 The settings ensure a proper Kamuriki desktop is installed with the
 LXQt desktop environment.
